// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    700px;
$on-palm:          700px;
$on-laptop:        700px;
$on-medium:        700px;
$on-large:         700px;
